<!--h1 {
    color: blue; 
 }
 div{
   width: 400px;
}
 img {
 width: 400px;
}
#thirdDiv {
   height: 600px;
   width: 500px;
   background-color: lavenderblush;
   border: 10px solid black
}
#spanID {
   font-size: 18px;
   margin: 50px;
   padding: 50x
} -->

